<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <runWorkflowActionRules help="Processors should derive from Sitecore.SharedSource.Workflows.Pipelines.WorkflowActionRule.WorkflowActionRuleProcessor">
        <processor type="Sitecore.SharedSource.Workflows.Pipelines.WorkflowActionRule.VerifyWorkflowContext,Sitecore.SharedSource.DynamicWorkflow" />
        <processor type="Sitecore.SharedSource.Workflows.Pipelines.WorkflowActionRule.GetRules,Sitecore.SharedSource.DynamicWorkflow" />
        <processor type="Sitecore.SharedSource.Workflows.Pipelines.WorkflowActionRule.ExecuteRules,Sitecore.SharedSource.DynamicWorkflow" />
        <processor type="Sitecore.SharedSource.Workflows.Pipelines.WorkflowActionRule.ShowErrorMessage,Sitecore.SharedSource.DynamicWorkflow" runIfAborted="true" />
      </runWorkflowActionRules>
    </pipelines>
    <settings>
      <!-- DYNAMIC WORKFLOW - ENABLES DEBUGGING INFO
           If true, additional information gets logged.
      -->
      <setting name="DynamicWorkflow.EnableDebug" value="false" />
    </settings>
  </sitecore>
</configuration>
